
name: Run DEBUG Cygwin-based tests

on: [push,workflow_dispatch]

concurrency:  
  group: ${{ github.workflow}}-${{ github.head_ref }}  
  cancel-in-progress: true

env:
  SHELLOPTS: igncr
  CHERE_INVOKING: 1
  CYGWIN_NOWINPATH: 1
  REMOTETESTDOWN: ${{ vars.REMOTETESTDOWN }}

jobs:
  build-and-test-autotools:
    runs-on: windows-latest
    defaults:
      run:
        shell: C:/cygwin/bin/bash.exe -eo pipefail -o igncr "{0}"

    name: Cygwin-based debug
    
    steps:
      - name: Fix line endings
        shell: pwsh
        run: git config --global core.autocrlf input

      - uses: actions/checkout@v4

      - uses: cygwin/cygwin-install-action@v4
        with:
          platform: x86_64
          install-dir: 'C:\cygwin'
          packages: >-
            git automake libtool autoconf2.5 make libhdf5-devel
            libhdf4-devel zipinfo libxml2-devel perl zlib-devel
            libzstd-devel libbz2-devel libaec-devel libzip-devel
            libdeflate-devel gcc-core gcc-g++
            libcurl-devel libiconv-devel
            libssl-devel libcrypt-devel attr libattr-devel
            unzip zip

      - name: (Autotools) Run autoconf and friends
        run: |
          cp -f /bin/dash /bin/sh
          mkdir m4
          /bin/dash /usr/bin/libtoolize --force --copy --verbose
          /usr/bin/autoreconf-2.69 --force --install --verbose --debug

      - name: Unzip test data
        timeout-minutes: 30
        run: |
          which unzip
          echo "=========================="
          file /cygdrive/d/a/netcdf-c/netcdf-c/nczarr_test/ref_oldkeys.file.zip
          echo "=========================="          
          unzip /cygdrive/d/a/netcdf-c/netcdf-c/nczarr_test/ref_oldkeys.file.zip